.min-height {
    --slds-c-textarea-sizing-min-height: 130px;
    /* --slds-c-textarea-color-border: red; */
}
.hide {
    display: none;
}
.red-color {
    color: red;
}
.exampleHolder{
    position: relative;
    display: block;
    width: 500px;
    height: 500px;
}
.spiner {
    width: 840px;
}