:host {
    /* padding: 0 10px; */
}
.heder-block {
    display: flex;
    justify-content: flex-start;
}
.pageSizeControl {
    display: inline-block;
    width: 200px;
    /* margin: 0px; */
    padding: 0px;
}
.search-input {
    display: inline-block;
    width: 400px;
    margin-bottom: 20px;
    padding-left: 15px;
}
.acordion-box {
    /* padding: 0 10px 0 10px; */
}
